/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-button {
  --background: #000000;
  --color: #ffffff;
  --border-color: #000000;
}

ion-content{
  --background:#000000;
}

ion-button{
  margin-top: 10px;
  width: 70%;
  --border-radius: 20px;
}

ion-button:last-child{
  margin-bottom: 20px;
}

ion-item{
  border-radius: 20px;
  border: 1px black solid; /** borda: espessura, cor e formato **/
  width: 70%; /** largura dos campos **/
  margin-top: 20px; /** margem **/
}

.container{
  display: flex; /** organiza os elementos de uma página HTML de forma dinâmica **/
  justify-content: center; /** justifica conteúdo no centro **/
  flex-direction: column; /** reorganiza os elementos em coluna **/
  align-items: center; /** coloca os itens do conteúdo no centro **/
  background-color: #fff; /** cor branca no fundo **/
  border-radius: 20px; /** arredonda as bordas **/
  width: 90%; /** define a largura **/
}
